* {
  margin: 0;
  padding: 0;
}

.body {
  width: 1440px;
  opacity: 1;
  overflow-x: hidden;
  display: flex;
}

.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-content: center;
  width: 1140px;
  height: 52px;
  opacity: 1;
  margin: 16px 150px;
  margin-bottom: 70px;
}
.header_left {
  align-items: center;
  width: 170px;
  display: flex;
  opacity: 1;
}
.header_left_logo {
  width: 52px;
  height: 52px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
.header_left_title {
  padding-left: 5px;
  text-align: left;
  font: normal normal bold 16px/21px Montserrat;
  width: 113px;
  height: 28px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.header_right {
  width: 709px;
  align-items: center;
  gap: 66px;
  display: flex;
}
.header_right_list {
  list-style: none;
  display: flex;
  gap: 76px;
  align-items: center;
}
.header_right_list_item {
  display: flex;
  font: normal normal normal 14px/11px Montserrat;
  letter-spacing: 0px;
  opacity: 1;
  height: 18px;
}
.header_right_list a {
  text-decoration: none;
  color: #ffffff;
}
.header_right_btn {
  background: #ffc832 0% 0% no-repeat padding-box;
  border: 0px;
  border-radius: 4px;
  opacity: 1;
  padding: 8px 33px;
  text-align: left;
  font: normal normal 600 18px Montserrat;
  letter-spacing: 0px;
  color: #05416e;
  opacity: 1;
}

.banner {
  background-image: url(img/banner.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
.banner_left {
  margin-top: 156px;
  margin-bottom: 80px;
  margin-left: 150px;
}
.banner_left_text {
  text-align: left;
  font: normal normal bold 80px/80px Adobe Caslon Pro;
  letter-spacing: 0.8px;
  color: #ffffff;
  opacity: 1;
}
.banner_left_input {
  display: flex;
  align-items: center;
  margin-top: 60px;
  width: 756px;
  height: 74px;
  background: #37b5d8 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #07668b;
  border-radius: 6px;
}
.banner_left_input ::placeholder {
  font: italic normal normal 28px/36px Montserrat;
  letter-spacing: 0px;
  color: #ebebeb;
  opacity: 1;
  padding-top: 13px 0;
  padding-left: 24px;
}
.banner_left_input_box {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 4px;
  margin-left: 8px;
  border: none;
  opacity: 1;
  width: 669px;
  height: 60px;
}
.banner_left_categories {
  width: 717px;
  height: 112px;
}
.banner_left_categories hr {
  margin-top: 30px;
  margin-bottom: 40px;
  color: #37b5d8;
  width: 756px;
}
.banner_left_categories_title {
  width: 250px;
  height: 22px;
  text-align: left;
  font: normal normal bold 18px/24px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.banner_left_categories_list {
  margin-top: 15px;
  margin-right: 73px;
}
.banner_left_categories_list_above {
  display: flex;
  justify-content: space-between;
}
.banner_left_categories_list_above_item {
  background: #32aaff 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  border-radius: 20px;
  opacity: 0.8;
  height: 15 px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 7px;
  padding-bottom: 8px;
  text-align: left;
  font: italic normal normal 12px/24px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.banner_left_categories_list_below {
  margin-top: 15px;
  margin-right: 64px;
  display: flex;
  justify-content: space-between;
}
.banner_left_categories_list_below_item {
  background: #32aaff 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  border-radius: 20px;
  opacity: 0.8;
  height: 15 px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 7px;
  padding-bottom: 8px;
  text-align: left;
  font: italic normal normal 12px/24px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.banner_left_categories_button {
  margin-top: 40px;
  width: 180px;
  height: 45px;
  background: #ffc832 0% 0% no-repeat padding-box;
  border: none;
  padding: 13px 21px;
  opacity: 1;
  font: normal normal 600 15px/15px Montserrat;
  letter-spacing: 0px;
  color: #05416e;
  opacity: 1;
}
.banner_right_img {
  position: absolute;
  top: 0;
  left: 650px;
  margin-top: 140px;
}

.hiring {
  margin: 180px 150px;
  margin-bottom: 0;
}
.hiring_top {
  display: flex;
  flex-direction: column;
  width: 411px;
  margin-bottom: 60px;
}
.hiring_top_icon {
  width: 36px;
  height: 36px;
}
.hiring_top_heading {
  margin-left: 36px;
  width: 375px;
  height: 40px;
  font: normal normal bold 40px/54px Adobe Caslon Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.hiring_body {
  display: flex;
  justify-content: space-between;
}
.hiring_body_img img {
  width: 276px;
  height: 308px;
  border-radius: 4px;
  opacity: 1;
}
.hiring_footer {
  margin-top: 60px;
}
.hiring_footer_slide {
  display: flex;
  width: 180px;
  height: 10px;
  justify-content: space-between;
  margin-left: 480px;
}
.hiring_footer_slide_1 {
  width: 32px;
  height: 6px;
  background: #32aaff 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
}
.hiring_footer_slide_2 {
  width: 32px;
  height: 6px;
  background: #05416e 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
}
.hiring_footer_btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hiring_footer_btn button {
  width: 159px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #05416e;
  border-radius: 4px;
  opacity: 1;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8.47px;
  display: flex;
  justify-content: space-between;
}
.hiring_footer_btn_text {
  width: 88px;
  height: 22px;
  font: normal normal 600 18px/17px Montserrat;
  letter-spacing: 0px;
  color: #05416e;
}
.hiring_footer_btn_icon {
  width: 16px;
  height: 16px;
}

.features {
  margin: 180px 150px;
  margin-bottom: 0;
}
.features_top {
  display: flex;
  flex-direction: column;
  width: 411px;
  margin-bottom: 60px;
}
.features_top_icon {
  width: 31px;
  height: 31px;
}
.features_top_heading {
  margin-left: 36px;
  width: 144px;
  height: 40px;
  font: normal normal bold 40px/54px Adobe Caslon Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.features_body {
  display: flex;
  justify-content: space-between;
}
.features_body_1 {
  width: 270px;
  height: 308px;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}
.features_body_img {
  margin-top: 50px;
  width: 110px;
  height: 110px;
  margin-left: 79px;
}
.features_body_text {
  margin-top: 25px;
  text-align: center;
  font: normal normal bold 25px/30px Montserrat;
  letter-spacing: 0px;
  color: #05416e;
  opacity: 1;
  padding: 0px 52px;
}

.group {
  margin: 180px 150px;
  margin-bottom: 0;
}
.group_top {
  display: flex;
  flex-direction: column;
  width: 411px;
  margin-bottom: 60px;
}
.group_top_icon {
  width: 36px;
  height: 36px;
}
.group_top_heading {
  margin-left: 36px;
  width: 375px;
  height: 40px;
  font: normal normal bold 40px/54px Adobe Caslon Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.group_body {
  display: flex;
  justify-content: space-between;
}
.group_body_item {
  height: 308px;
  width: 270px;
}
.group_body_item_img img {
  width: 270px;
  height: 153px;
  border-radius: 4px 4px 0px 0px;
  opacity: 1;
}
.group_body_item_title {
  width: 209px;
  height: 22px;
  font: normal normal bold 16px/24px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-top: 15px;
}
.group_body_item_bottom {
  height: 13px;
  font: normal normal normal 10px Montserrat;
  letter-spacing: 0px;
  color: #d0b6b6;
  opacity: 1;
}
.group_body_item_members {
  margin-top: 15px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.group_body_item_members_img {
  width: 23px;
  height: 24px;
  border: 1px solid #ffffff;
  opacity: 1;
}
.group_body_item_members_text {
  margin-left: 4px;
  height: 13px;
  font: normal normal 600 10px/13px Montserrat;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.group_body_item_members_text span {
  font: normal normal normal 10px/13px Montserrat;
}
.group_body_item_btn {
  border: 1px solid #ebebeb;
  border-radius: 0px 0px 4px 4px;
  padding: 14px 0;
  padding-left: 89px;
  width: 270px;
  height: 50px;
  text-align: left;
  font: normal normal bold 18px/24px Montserrat;
  letter-spacing: 0px;
  color: #32aaff;
  opacity: 1;
}
.group_footer_btn {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group_footer_btn button {
  width: 215px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #05416e;
  border-radius: 4px;
  opacity: 1;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.group_footer_btn_text {
  font: normal normal 600 18px/17px Montserrat;
  letter-spacing: 0px;
  color: #05416e;
  width: 142px;
  height: 22px;
}
.group_footer_btn_icon {
  margin-left: 15px;
  width: 17px;
  height: 16px;
}

.skills {
  margin: 180px 150px;
  height: 308px;
  width: 270px;
}
.skills_top {
  display: flex;
  flex-direction: column;
  width: 411px;
  margin-bottom: 60px;
}
.skills_top_icon {
  width: 36px;
  height: 36px;
}
.skills_top_heading {
  margin-left: 36px;
  width: 375px;
  height: 40px;
  font: normal normal bold 40px/54px Adobe Caslon Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.skills_body {
  display: flex;
  gap: 19px;
}
.skills_body_item {
  background-color: #32aaff;
  padding-top: 20px;
}
.skills_body_item_title {
  padding-left: 20px;
  width: 207px;
  height: 60px;
  text-align: left;
  font: normal normal bold 25px/30px Montserrat;
  letter-spacing: 0px;
  color: #f5f5f5;
  opacity: 1;
}
.skills_body_item_mid {
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
}
.skills_body_item_mid_img {
  width: 15px;
  height: 20px;
}
.skills_body_item_mid_text {
  margin-left: 5px;
  text-align: left;
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.skills_body_item_para {
  margin: 30px 20px;
  width: 230px;
  height: 64px;
  text-align: left;
  font: normal normal normal 14px/16px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.skills_body_item_btn {
  margin: 0 4px;
  margin-bottom: 4px;
  background: transparent 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 14px 0;
  padding-left: 89px;
  width: 270px;
  height: 50px;
  text-align: left;
  font: normal normal bold 18px/24px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.skills_footer_btn {
  margin-top: 60px;
  margin-left: 593px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills_footer_btn button {
  width: 254px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #05416e;
  border-radius: 4px;
  opacity: 1;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.skills_footer_btn_text {
  font: normal normal 600 18px/17px Montserrat;
  letter-spacing: 0px;
  color: #05416e;
  width: 180px;
  height: 22px;
}
.skills_footer_btn_icon {
  margin-left: 15px;
  width: 17px;
  height: 16px;
}

.career {
  margin: 0px 150px;
  height: 412px;
  width: 1140px;
  display: flex;
  margin-top: 180px;
  margin-bottom: 360px;
}
.career_left {
  margin-top: 180px;
  margin-right: 108px;
  display: flex;
  flex-direction: column;
}
.career_left_top {
  display: flex;
  flex-direction: column;
}
.career_left_top_icon {
  width: 31px;
  height: 31px;
}
.career_left_top_heading {
  margin-left: 31px;
  width: 402px;
  height: 98px;
  font: normal normal bold 40px/54px Adobe Caslon Pro;
  letter-spacing: 0px;
  color: #05416e;
  opacity: 1;
}
.career_left_para {
  padding-top: 50px;
  padding-left: 36px;
  width: 432px;
  height: 100px;
}
.career_left_para p {
  text-align: left;
  font: normal normal normal 16px/20px Montserrat;
  letter-spacing: 0px;
  color: #32aaff;
}
.career_left_btn {
  margin-top: 60px;
  margin-left: 36px;
  display: flex;
  align-items: center;
}
.career_left_btn button {
  width: 159px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #05416e;
  border-radius: 4px;
  opacity: 1;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.career_left_btn_text {
  font: normal normal 600 18px/17px Montserrat;
  letter-spacing: 0px;
  color: #05416e;
  width: 180px;
  height: 22px;
}
.career_left_btn_icon {
  margin-left: 15px;
  width: 17px;
  height: 16px;
}
.career_right {
  margin-top: 180px;
  width: 564px;
  height: 412px;
}

.connection {
  margin: 0px 150px;
  display: flex;
  margin-top: 180px;
}
.connection_left {
  width: 564px;
  height: 412px;
  margin-right: 108px;
}
.connection_right {
  display: flex;
  flex-direction: column;
}
.connection_right_top {
  display: flex;
  flex-direction: column;
}
.connection_right_top_icon {
  width: 31px;
  height: 31px;
}
.connection_right_top_heading {
  margin-left: 31px;
  width: 402px;
  height: 98px;
  font: normal normal bold 40px/54px Adobe Caslon Pro;
  letter-spacing: 0px;
  color: #05416e;
  opacity: 1;
}
.connection_right_para {
  padding-top: 50px;
  padding-left: 36px;
  width: 432px;
  height: 100px;
}
.connection_right_para p {
  text-align: left;
  font: normal normal normal 16px/20px Montserrat;
  letter-spacing: 0px;
  color: #32aaff;
}
.connection_right_btn {
  margin-top: 60px;
  margin-left: 36px;
  display: flex;
  align-items: center;
}
.connection_right_btn button {
  width: 159px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #05416e;
  border-radius: 4px;
  opacity: 1;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.connection_right_btn_text {
  font: normal normal 600 18px/17px Montserrat;
  letter-spacing: 0px;
  color: #05416e;
  width: 180px;
  height: 22px;
}
.connection_right_btn_icon {
  margin-left: 15px;
  width: 17px;
  height: 16px;
}

.company {
  display: flex;
  margin-top: 180px;
  width: 1440px;
  position: absolute;
}
.company_right {
  background-image: url(img/Rectangle_75.svg);
  width: 714px;
  display: flex;
  flex-direction: column;
}
.company_right_top {
  margin-top: 81px;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
}
.company_right_top_icon {
  width: 31px;
  height: 31px;
}
.company_right_top_heading {
  margin-left: 36px;
  width: 495px;
  height: 98px;
  text-align: left;
  font: normal normal bold 46px/52px Adobe Caslon Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.company_right_para {
  padding-top: 50px;
  padding-left: 69px;
  width: 432px;
  height: 100px;
}
.company_right_para p {
  text-align: left;
  font: normal normal normal 16px/20px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.company_right_btn {
  margin-top: 35px;
  margin-left: 69px;
  display: flex;
  align-items: center;
}
.company_right_btn button {
  width: 180px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #05416e;
  border-radius: 4px;
  opacity: 1;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.company_right_btn_text {
  font: normal normal 600 18px/17px Montserrat;
  letter-spacing: 0px;
  color: #05416e;
  width: 180px;
  height: 22px;
}
.company_right_btn_icon {
  margin-left: 15px;
  width: 17px;
  height: 16px;
}

.footer {
  background: transparent linear-gradient(180deg, #05416e 0%, #032137 100%) 0% 0% no-repeat padding-box;
  height: 410px;
  margin-top: 800px;
  padding-left: 150px;
  display: flex;
  gap: 14px;
}
.footer_left {
  padding-top: 52px;
}
.footer_left_logo {
  display: flex;
  align-items: center;
}
.footer_left_logo_icon {
  width: 66px;
  height: 66px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
.footer_left_logo_title {
  padding-left: 15px;
  text-align: left;
  width: 140px;
  font: normal normal bold 20px/35px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
}
.footer_left_icons {
  margin-top: 35px;
  width: 258px;
  display: flex;
  justify-content: space-between;
}
.footer_left_btn button {
  margin-top: 22px;
  width: 180px;
  height: 45px;
  background: #ffc832 0% 0% no-repeat padding-box;
  border: none;
  padding: 13px 21px;
  opacity: 1;
  font: normal normal 600 15px/15px Montserrat;
  letter-spacing: 0px;
  color: #05416e;
  opacity: 1;
}
.footer_left_terms {
  margin-top: 74px;
  width: 321px;
  height: 14px;
  text-align: left;
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.footer_left_copyright {
  margin-top: 9px;
  display: flex;
}
.footer_left_copyright_1 {
  display: flex;
  align-items: center;
}
.footer_left_copyright_1_icon {
  width: 22px;
  height: 22px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
.footer_left_copyright_1_title {
  padding-left: 2px;
  text-align: left;
  font: normal normal bold 10px/14px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.footer_left_copyright_2 {
  margin-left: 23px;
  align-content: center;
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.footer_right {
  margin-left: 245px;
  padding-top: 69px;
  display: flex;
}
.footer_right_item_title {
  width: 180px;
  height: 48px;
  text-align: left;
  font: normal normal 600 18px/24px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.footer_right_item_list {
  margin-top: 24px;
}
.footer_right_item_list ul {
  list-style: none;
  text-align: left;
  font: normal normal normal 14px/20px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.footer_right_item_list ul li {
  padding-top: 14px;
}/*# sourceMappingURL=style.css.map */