.career {
  margin: 180px 150px;
  margin-bottom: 0;
  height: 412px;
  width: 1140px;
  display: flex;
  margin-top: 180px;

  &_left {
    margin-right: 108px;
    display: flex;
    flex-direction: column;
    &_top {
      display: flex;
      flex-direction: column;
      &_icon {
        width: 31px;
        height: 31px;
      }

      &_heading {
        margin-left: 31px;
        width: 402px;
        height: 98px;
        font: normal normal bold 40px/54px Adobe Caslon Pro;
        letter-spacing: 0px;
        color: #05416e;
        opacity: 1;
      }
    }

    &_para {
      padding-top: 50px;
      padding-left: 36px;
      width: 432px;
      height: 100px;
      & p {
        text-align: left;
        font: normal normal normal 16px/20px Montserrat;
        letter-spacing: 0px;
        color: #32aaff;
      }
    }

    &_btn {
      margin-top: 60px;
      margin-left: 36px;
      display: flex;
      align-items: center;

      & button {
        width: 159px;
        height: 40px;
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #05416e;
        border-radius: 4px;
        opacity: 1;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        align-items: center;
        display: flex;
        justify-content: space-between;
      }
      &_text {
        font: normal normal 600 18px/17px Montserrat;
        letter-spacing: 0px;
        color: #05416e;
        width: 180px;
        height: 22px;
      }
      &_icon {
        margin-left: 15px;
        width: 17px;
        height: 16px;
      }
    }
  }

  &_right {
    width: 564px;
    height: 412px;
  }
}
