.features {
  margin: 180px 150px;
  margin-bottom: 0;
  height: 768px;

  &_top {
    display: flex;
    flex-direction: column;
    width: 411px;
    margin-bottom: 60px;
    &_icon {
      width: 31px;
      height: 31px;
    }

    &_heading {
      margin-left: 36px;
      width: 144px;
      height: 40px;
      font: normal normal bold 40px/54px Adobe Caslon Pro;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
    }
  }

  &_body {
    display: flex;
    justify-content: space-between;

    &_1 {
      width: 270px;
      height: 308px;
      background: #f5f5f5 0% 0% no-repeat padding-box;
      border-radius: 4px;
      opacity: 1;
    }

    &_img {
      margin-top: 50px;
      width: 110px;
      height: 110px;
      margin-left: 79px;
    }

    &_text {
      margin-top: 25px;
      text-align: center;
      font: normal normal bold 25px/30px Montserrat;
      letter-spacing: 0px;
      color: #05416e;
      opacity: 1;
      padding: 0px 52px;
    }
  }
}
