.hiring {
  margin: 180px 150px;

  &_top {
    display: flex;
    flex-direction: column;
    width: 411px;
    margin-bottom: 60px;
    &_icon {
      width: 36px;
      height: 36px;
    }

    &_heading {
      margin-left: 36px;
      width: 375px;
      height: 40px;
      font: normal normal bold 40px/54px Adobe Caslon Pro;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
    }
  }

  &_body {
    display: flex;
    justify-content: space-between;
    &_img {
      & img {
        width: 276px;
        height: 308px;
        border-radius: 4px;
        opacity: 1;
      }
    }
  }

  &_footer {
    margin-top: 60px;

    &_slide {
      display: flex;
      gap: 60px;
      margin-left: 430px;
      &_1 {
        width: 32px;
        height: 6px;
        /* UI Properties */
        background: #32aaff 0% 0% no-repeat padding-box;
        border-radius: 2px;
        opacity: 1;
      }
    }

    &_btn {
      align-items: center;
    }
  }
}
