.body {
  top: 0px;
  left: 0.000026524066925048828px;
  width: 1440px;
  height: 768px;
  opacity: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 86px;
  opacity: 0.25;

  &_left {
    align-items: center;
    top: 16px;
    left: 150px;
    width: 170px;
    height: 52px;
    opacity: 1;
  }

  &_right {
    &_list {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
